* {
  font-size: inherit;
  transition: background-color .3s;
}

:root {
  --secondary-color: #8e4ab9;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Montserrat, sans-serif;
  font-size: 2rem;
  color: #444;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

/* hide stuff */
.wm-article-nav-buttons, footer {
  display: none;
}

/* top nav bar */
.navbar, .wm-toc-li.wm-current, .wm-toc-li.wm-current:hover, .wm-top-tool-expanded {
  background-color: var(--secondary-color);
  color: #fff;
  box-shadow: 0 0 0 transparent;
}

.wm-top-title {
  font-size: 2rem;
  margin: 0 !important;
}

h1 {
  font-weight: 800;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

h2, h3, .wm-toc-li.wm-current, .wm-toc-li.wm-current:hover, .wm-top-title {
  font-weight: 700;
  text-transform: uppercase;
}

h2, h3 {
  margin: 5rem 0 2rem 0;
}

.wm-page-content p {
  margin-bottom: 2rem;
}

/* horizontal rule */
hr {
  margin: 4rem;
}

/* fixing images */
.wm-page-content img {
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 0;
  margin: 2rem auto 1rem auto;
}

/* embed images in blockqoute so can style captions */
blockquote {
  padding: 0;
  margin: 2rem 0;
  font-size: 1.4rem;
  text-align: center;
  font-style: italic;
  border: none;
}

/* fixing buttons and other little color tweaks */
.btn.active, .btn:active, .btn-group-sm>.btn, .btn-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
  border: 0px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background-color: #f2f2f2;
  border-color: transparent;
}

/* links */
.wm-page-content a {
  text-decoration: underline;
  background-color: transparent;
  color: var(--secondary-color);
  padding: .3rem;
}

.search-title, .wm-page-content a:hover {
  color: var(--secondary-color);
  text-decoration: none !important;
}

.search-text {
  padding: 1rem;
}

.search-text:hover {
  background-color: #f2f2f2;
}

.wm-page-content a {
  text-decoration: none !important;
}

.wm-page-content a:hover {
  background-color: #e0e0e0;
}

/* fix sidepanel stuff */
.wm-toc-pane {
  border-right: 0px solid transparent;
}

.wm-toc-opener {
  background: #e0e0e0;
}

.wm-toctree a, .wm-toctree a:hover, .wm-article-link, .wm-page-toc-text, .wm-toc-text, .wm-article-link {
  color: #444;
}

.wm-toc-li-nested.wm-page-toc {
  border-left: 1px solid #e0e0e0;
}

.wm-toctree {
  line-height: 3rem;
  font-size: 1.4rem;
}

.wm-toc-li.wm-current a, .wm-toc-lev1, .wm-toc-lev2 {
  font-size: 1.6rem;
}

.wm-toc-opener>.wm-toc-text::before, .wm-toc-opener>.wm-toc-text::before {
  font-size: 2rem;
  width: 2rem;
}

.wm-toc-opener>.wm-toc-text::before {
  content: "+";
  font-size: 2rem;
  width: 2rem;
  margin-top: -.6rem;
}

.wm-page-toc-opener.wm-page-toc-open>.wm-toc-text::after, .wm-toc-opener.wm-toc-open>.wm-toc-text::before {
  content: "-";
}

.wm-page-toc-opener>.wm-toc-text::after {
  content: "+";
  font-size: 2rem;
  margin-top: -.4rem;
  margin-right: 1rem;
}

.wm-page-toc-opener .wm-toc-text:hover {
  color: #fff;
}
